* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: #343e55;
    background-color: #eeecf1;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 0.5rem 1rem;
}

.app-container > * {
    background-color: #fefffe;
    border-radius: 10px;
    width: 100%;
    margin: 1rem;
}

.profile-intro {
    display: flex;
    justify-content: space-between;
}

.profile-edit-icon svg, .delete-post-icon svg, .edit-profile-icon svg {
    width: 16px;
}

.profile-edit-icon:hover, .delete-post-icon:hover, .edit-profile-icon:hover {
    cursor: pointer;
}

.profile-body {
    flex-basis: 50%;
}

.profile-body {
    flex-basis: 50%;
}
.mutuals-body {
    flex-basis: 50%;

}
.profile-body {
    color: #818181;
    padding: 1rem;
}

.profile-img-container {
    display: flex;
    justify-content: space-between;
}

.profile-img-intro, .comment-container {
    display: flex;
    justify-content: flex-start;
}

.profile-img-intro:hover {
    cursor: pointer;
}

.profile-user-container {
    margin-left: 0.4rem;
}

.profile-img{
    width: 40px;
    height: 40px;
    grid-row: 1 / 3;
    border-radius: 50%;
}
.comment-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.profile-name {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: #343e55;
}

.profile-username {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #818181;
}

.profile-follow {
    display: flex;
    margin: 0.5rem 0.3rem;
}

.profile-follow p {
    font-size: 0.6rem;
    margin-right: 0.5rem;
}

.horizontal-line {
    width: 100%;
    margin: 0.5rem auto 0 auto;
    border: none;
    border-radius: 6px;
    height: 0.5px;
    background-color: #adadad;
}

.comments-line {
    width: 95%;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    height: 0.5px;
    background-color: #adadad;
}



.bio-container {
    width: 80%;
    margin: 0.5rem 0.3rem;
}

.bio {
    font-size: 0.7rem;
}

.profile-info {
    margin: 0.5rem 0.3rem;
}

.birthday-container {
    display: flex;
    align-items: center;
}

.birthday {
    outline: none;
    background-color: transparent;
    border: none;
    color: #818181;
    font-size: 0.7rem;
}

.birthday-icon {
    margin-right: 0.3rem;
}

.birthday-icon svg {
    width: 17px;
}

.posts-section {
    padding: 1rem;
}

.create-post-container {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    border: 1px solid #818181;
    border-radius: 7px;
    margin: 0.5rem 0.3rem 1rem 0.3rem;
}
.create-comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #818181;
    border-radius: 7px;
    margin: 0.5rem 0.3rem 1rem 0.3rem;
}
.create-post-input {
    padding: 0.5rem;
    border: none;
}

#post_image {
    display: none;
}

.create-post-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-icon svg {
    width: 17px;
}

.create-post-icon:hover {
    cursor: pointer;
}

.display-post-image {
    max-width: 100%;         
    max-height: 500px;   
    overflow: hidden;    
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-post-image img {
    max-width: 100%;    
    max-height: 100%;   
    object-fit: contain;
}

.create-post-input::placeholder{
    content: 'post something here...';
}

.create-post-input:focus {
    outline: none;
}

.post-card .profile-img-container {
    margin: 1rem 0.3rem;
}

.post-content {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.5rem 0.3rem;    
}

.post-image {
    max-width: 100%;         
    max-height: 500px;   
    overflow: hidden;    
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
} 

.post-image img {
    max-width: 100%;    
    max-height: 100%;   
    object-fit: contain;
}

.like-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #818181;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #818181;
}

.icons div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons > * {
    padding: 0.1rem;
}
.icons svg {
    width: 17px;
}

.icons svg:hover {
    cursor: pointer;
}

.see-comments-btn {
    background-color: transparent;
    border: none;
    color: #242424;
}

.see-comments-btn:hover {
    color: #818181;
}

.comment-name {
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0.2rem 0.7rem;
    color: #242424;
}

.comment-name:hover {
    color: #818181;
}

.comment-content {
    margin: 0.2rem 1rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.create-post-button {
    background-color: #fefffe;
    border: none;
    border-left: 1px solid #818181;
    padding: 0.5rem;
    width: 100%;
}

.create-post-button:hover, .create-comment-button:hover {
    background-color: #818181;
}

.create-comment-button {
    background-color: #fefffe;
    border: none;
    border-left: 1px solid #818181;
    padding: 0.5rem;
    max-width: 20%;
}
.mutuals-body {
    padding: 1rem;
}

.intro {
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 821px) {

    .app-container {
        display: block;
    }

    .app-container > *{
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

