.nav-body {
    font-size: 16px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.7rem;
}

.logo a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar-container {
    height: 100%;
    background-color: #fefffe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    /* min-width: 100vh; */
}

.nav-items {
    padding: 0 0.3rem;
    margin: 0.5rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.search-box {
    background-color: #eeecf1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 250px;
    padding: 0 0.5rem;
    margin: 0 0.7rem;
    border-radius: 15px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    background-color: transparent;
    border: none;
}

.search-input:focus {
    outline: none;
}

.search-icon svg:hover {
    opacity: 0.5;
}
.nav-item a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 594px) {
    .nav-body {
        font-size: 10px;
    }

    .logo a {
        font-size: 1rem;
    }

    .navbar-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        /* margin: ; */
    }
    .nav-items {
        margin: 1rem 0;
    }

    .search-box {
        min-height: 90%;
        background-color: #eeecf1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 20%;
    }
    .search-icon {
        overflow: hidden;
    }

}