.body {
    height: 100vh;
    box-sizing: border-box;
}

.form-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 50%;
}

.form-container > * {
    padding: 0.6rem 0;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-container input {
    width: 100%;
    padding: 0.6rem;
}

.inputs-container > * {
    margin-bottom: 1rem;
}

.form-button {
    width: 100%;
}

.form-button:hover {
    background-color: rgb(141, 141, 141);
}

.form-intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.form-intro .form-title {
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.form-intro p {
    text-align: left;
    color: rgb(78, 78, 78);
}

.form-container h2 {
    text-align: right;
}

.form-container p {
    text-align: center;
}

button , input{
    border-radius: 8px;
    border: 1px solid gray;
}

.inputs-container input::placeholder {
    font-family: inherit;  
}

.inputs-container input::placeholder, .form-container p, .form-intro p, .form-container h2, .form-button{
    font-size: 1rem;   
}

@media (max-width: 660px){

    .inputs-container input::placeholder, .form-container p, .form-intro p,.form-container h2, .form-button{
        font-size: 0.7rem;   
    }

    .form-container .form-title {
        font-size: 1.7rem;
    }

    .form-container {
        width: 80%;
    }
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.file-input {
    display: none;
}

.edit-button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: transparent;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    color: #9acd9b;
}

